.example-container {
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.menu-content{
  // width: fit-content;
  display: flex;
  flex-direction: column;
  padding:12px;
  button{
    margin-bottom:1rem;
    width: -webkit-fill-available;
    justify-content: left;
  }
}

::ng-deep .mat-drawer-content{
  margin:12px 96px;
  border:2px solid green;
}
