<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Kartikkumar Saw</mat-card-title>
    <mat-card-subtitle>Senior Software Engineer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/0118kartik.jpg" alt="Profile">
  <mat-card-content>
    <p>
      Results-driven and highly skilled Angular developer with more than 3 years of experience in designing and implementing web applications. Proven expertise in translating business requirements into technical solutions, delivering high-quality code, and optimizing application performance. Seeking to contribute my skills and knowledge.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

