<div class="experience-map-container">
  <div class="experience-list">

    <div class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">
      <p>Senior System Engineer<br>
        Infosys - Pune, Maharashtra, India<br>
        2-Nov-2021 - till now<br>
      </p>
    </div>
    <div class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">
      <p>UI Developer<br>
        Technola IT Services - Aurangabad, Maharashtra, India<br>
        February 2021 - October 2021<br>
      </p>
    </div>
    <div class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">
      <p>UI Developer<br>
        Mandroid IT Services - Aurangabad, Maharashtra, India<br>
        July 2019 - November 2019<br>
      </p>
    </div>

  </div>
  <!-- <app-map></app-map> -->

</div>
